#UFT ignore section
*.lck
/Res*

#end UFT ignore section


#LeanFT ignore section
RunResults/
Runs/
out/
target/
workspace.xml
#.idea/
/bin
/releases
/maven
/build/
/repository/
/.settings
/test-output/
/img
/dependencies

appmodels/

#end LeanFT ignore section
