#UFT ignore section
*.lck
/Res*
/Snapshots
/obj
/DatabaseBackup
/bin/Script.dll
/bin/Script.pdb
/Result*
/flow.png
/FlowSerialization.zip
*.log

#end UFT ignore section


#LeanFT ignore section
RunResults/
Runs/
out/
target/
workspace.xml
#.idea/
/bin
/releases
/maven
/build/
/repository/
/.settings
/test-output/
/img
/dependencies

appmodels/

#end LeanFT ignore section
